syntax: glob

*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.orig
[Bb]in/
[Dd]ebug/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml

*/bin/*
*/obj/*
*/TestResults/*
packages/**
.sass-cache
*.css.map
node_modules
bower_components


.vs
*.sublime-workspace

/src/HelloAspNetCore/Identity.txt
